/* Define CSS variables for colors and fonts */
:root {
  /* Color scheme label */
  --color-scheme-name: "Vibrant Tones";

  /* Color palette */
  --primary-color: #f44336;
  --secondary-color: #2196f3;
  --accent1-color: #4caf50;
  --accent2-color: #ff9800;

  /* Fonts */
  --heading-font: 'Ysabeau', sans-serif;
  --paragraph-font: 'Ysabeau', sans-serif;
  
  /* Navigation */
  --navigation-background-color: #0d195c;
  --navigation-link-color: #ffffff;
  --navigation-hover-link-color: #1887c7;
  --navigation-hover-background: #ffffff;
}

/* Apply general styles to the body */
body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

/* Apply font and color styles to headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

/* Apply padding to paragraphs */
p {
  padding: 25px;
}

/* Style the header */
header {
  padding: 20px;
  background-color: var(--accent1-color);
}

/* Style navigation links */
nav {
  background-color: var(--navigation-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--navigation-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link,
nav a:visited {
  color: var(--navigation-link-color);
}

nav a:hover {
  color: var(--navigation-hover-link-color);
  background-color: var(--navigation-hover-background);
}

/* Add a class to style the "Experience" section */
.section-experience {
  text-align: center;
  font-weight: bold;
}

/* Use a span for bold text */
span {
  font-weight: bold;
}

/* Color scheme on Coolors.co: https://coolors.co/your-color-scheme-id */
